@font-face {
    font-family: 'SingleDay';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Single/SingleDay.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Single/SingleDay.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Single/SingleDay.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Single/SingleDay.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Single/SingleDay.ttf') format("truetype");
    font-display: swap;
}